.list {
    gap: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin: 1rem;
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }