
:host::ng-deep {
    .text-br{
        line-height: 25px;
        margin-bottom: 16px;
        display: block;
        font-size: 18px;
        padding-left: 16px;
        
        br:first-of-type{
        display: none;
    }
    }
  }

  .card-header {
    background: #004d40;
    color: #ffff;
  }

  .title-head {
    padding: 0.5rem 1rem 0rem 1rem;
  }
