<div style="height: 100%;">
    <div>
        <h2 style="text-align: center;">{{selectedListData.title}}</h2>
    </div>
    <div class="d-flex justify-content-end mr-1">
        <select [(ngModel)]="selectedValue" placeholder="Select Frame">
            <option [value]="val.value" *ngFor="let val of framPerList">{{val.name}}</option>
        </select>
    </div>
    <div style="grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));display: grid;gap: 1rem;padding: 1rem;"
        [style.grid-template-columns]="!['',null,undefined,0,'null'].includes(selectedValue) ? 'repeat(' + selectedValue + ', 1fr)' : 'repeat(auto-fit, minmax(500px, 1fr))'">
        <div class="card" *ngFor="let data of listData;let i=index">
            <div class="card-header d-flex justify-content-between align-items-center" style="font-weight: 900;">
                <div>
                    {{i+1}}) {{data.title}} 
                </div>
                <span class="badge text-bg-success" *ngIf="data?.isGroup">Group</span>
                <!-- <a class="btn btn-primary" (click)="navigateToDetail(i)">View</a> -->
            </div>
            <div class="card-body" style="max-height: 500px;overflow-x: scroll;">
                <ng-container *ngFor="let files of data?.filesList;let ri=index"
                    style="font-family: initial;font-size: 12;">
                    <h4 style="font-weight: 700;">{{files.title | titlecase}}</h4> <span class="text-br"
                        *ngIf="files?.description" [innerText]="files.description"></span>
                    <ng-container *ngFor="let codes of files.codeLists; let last = last;let ci = index">
                        <h4 style="font-weight: 700;">{{codes.title | titlecase}}</h4> <span class="text-br"
                            *ngIf="codes?.description" [innerText]="codes.description"></span>
                        <div class="card mb-3 editor-text" style="font-family: initial;" *ngIf="codes?.code">
                            <div class="card-header bg-transparent"
                                style="background-color: #27272a !important; color: white">
                                {{codes.filename}}
                                <div style="position: absolute;top: 7px;right: 14px;">
                                    <span class="badge text-bg-success cursor-pointer" style="font-family: sans-serif;font-size: 14px;cursor: pointer;" (click)="copy(codes.code,i,ri,ci)">{{codes?.isCopied ? 'Copied':'Click to Copy'}}</span>
                                </div>
                            </div>
                            <div class="card-body text-success" 
                                style="background-color: #09090b !important; color: white;padding: 0;
    margin: 0;">
                                <!-- <h5 class="card-title" [innerText]="codes.code"></h5> -->
                                <app-code-formatter [code]="codes.code"></app-code-formatter>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
    </div>