<div class="btn-group">
  <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
</div>
@if (submitted) {
  <div class="result-summary d-flex justify-content-between">
    <h2>Total questions: {{list.length}}</h2>
    <h2>Correct Answers: {{correctAnswerCount}}</h2>
  </div>
}
<body>
  <div class="container">
    <h4 class="qa">Question and Answer Test</h4>
    <form>
      @for (item of list; track item.id; let idx = $index) {
        <div class="question-card">
          <h3 class="question-heading">{{idx+1}}. {{item.question}}</h3>
          <ul class="answer-options">
            @for (answer of item.answers; track answer.answer; let chdx = $index) {
              <li class="answer-item" [id]="'group-' + chdx+'s'+idx">
                <label class="answer-label" [for]="'group-' + chdx+'s'+idx" [ngClass]="{'correct-icon': submitted && (item.selectedOption == item.selectedAnswer && item.selectedOption == answer.option || item.selectedAnswer == answer.option), 
                          'incorrect-icon': submitted && (item.selectedOption != item.selectedAnswer && item.selectedOption == answer.option)}">
                  <input type="radio" class="answer-input" [id]="'group-' + chdx+'s'+idx"
                    [value]="answer.option"
                    [name]="'group-' + chdx+'s'+idx" [(ngModel)]="item.selectedOption" [ngModelOptions]="{standalone: true}"> 
                  {{answer.answer}}
                </label>
              </li>
            }
            @if (submitted && !item?.selectedOption) {
              <p class="error-message">Select the answer</p>
            }
          </ul>
        </div>
      }
    </form>
  </div>
</body>